@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');


body {
  height: 100%;
  margin: 0;
  font-family: 'Macondo', cursive;
}

#container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;

  .left,
  .right {
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: #4F3B17;
  }

  .left {
    background-color: #e4bd73;
    text-align: center;
    padding: 2rem
  }

  .right {
    background-image: url(pictures/background.png);
    background-size: cover;
  }
}

#attack-btn,
#restart-btn {
  background-color: #4F3B17;
  color: #f8f6f3;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
}

#damage-input {
  background-color: #4F3B17;
  color: #f8f6f3;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
}

#copyright {
  font-size: 8px;
  position: fixed;
  bottom: 25px;
  left: 0;
  width: 100%;
  text-align: left;
  margin-left: 5%;
}

.links {

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  margin-left: 15%;
}